sbody{
	background-color: #333333;
	text-decoration-color: ghostwhite;
}
img {height:100px; width:100%;}
a:link {text-decoration:none;}
a {padding:25px; font-size:19px;background-color: #337ab7;
    border-color: #337ab7;}
.simp {margin-left:45px;}
.hr {background-color: #337ab7;
    border-color: #337ab7;;}
h1 {text-align:center; font-size: 40px; font-family:Serif; font-weight: strong;}
.image {width:34%; height: 200px; 
    border:solid;padding:5px;border-width:1px; border-color:grey; float:left; }
p {font-family:Sans-Serif; text-align:left; font-size: 20px}
 #grey {background-color:grey;}

ul{
	list-style: none;
}

.container {background-color:grey;}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #000;
    border-color: #1a1b1d;
    padding-left: 12%;
    padding-right: 12%;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-tabs {
   
    bottom: 10px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
    background-color: #00ace6;
    font-size: 20px;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: #00ace6;
    font-size: 20px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-primary{
  background-color:#e8edf3;
  height: 50em;
  width: 180%;
  margin-left: 2%;
  margin-right:   10%;
}
.panel-tabs {
    position: relative;
    
    clear: both;
    border-bottom: 1px solid transparent;
}
.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color:#1a1a1a;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color:rgb(232, 237, 243);
    border-bottom-color: #00ace6;
        font-size: 18px;
        color: black;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color:#000;
    border-color: #1a1b1d;
    padding-left: 29%;
    padding-right: 25%;
    padding-top: 5;
    padding-bottom: 20;
}
.panel-primary{
  border-color: #000000;

}.modal-header{
  border:none;
}
.modal-footer{
  border:none;
}
.modal.in .modal-dialog{
  width: 25%;
  float: right;
  height: 100em;
}
.modal-body>ul>li{
  padding: 5px;
}
li>a{
color: #fff;
padding: 7px 5px 5px 5px;
font-size: 17px;
}

li>.fa{
  font-size: 20px;
  padding: 6px;
}
#main_content
{
 margin-top:50px;
 width:500px;
 margin-left:250px;
}
#main_content li
{
 display:inline;
 list-style-type:none;
 background-color: #00ACE6;
 padding:10px;
 border-radius:5px 5px 0px 0px;
 color:#292A0A;
 font-weight:bold;
 cursor:pointer;
}
#main_content li.notselected
{
 background-color: #00ACE6 ;
 color:#ffffff;	
}
#main_content li.selected
{
 background-color:#ffffff;
 color:#292A0A;	
}
#main_content .hidden_desc
{
 display:none;
 visibility:hidden;
}
.social{
  text-align:center;
  width:100px;
  height:100px;
  display: inline-block;
  background:rgb(255,255,255);
  border:1px solid rgb(204,204,204);
  box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
  border-radius:100px;
  margin:0 10px 10px 0;
  padding:19px;
}

*{
  box-sizing: border-box;
}

/* :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}